@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    text-align: center;
    background-image: url('gita-117.jpg'); /* Set a background image for the entire body */
    background-size: cover; /* Ensure the background image covers the entire viewport */
    background-position: center;
    margin: 0; /* Remove default margin */
    height: 100vh; /* Set the height of the body to the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the container vertically and horizontally */
    overflow: hidden; /* Prevent body from being scrollable */
    padding: 20px; /* Add padding for smaller devices */
    box-sizing: border-box; /* Ensure padding does not cause overflow */
}

.container {
    max-width: 800px;
    width: 100%; /* Ensure the container takes full width if needed */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Make the container position relative for absolute positioning of images */
    overflow: auto; /* Ensure that if content overflows, it can be scrolled within the container */
    max-height: 90vh; /* Make sure the container does not exceed the viewport height */
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #4B0082; /* Indigo color */
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
}

button {
    display: inline-block;
    padding: 10px 24px;
    background-color: #4B0082;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    background-color: #6A5ACD; /* Darker Indigo color */
}

#shlokaDisplay {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.8;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    input[type="text"] {
        width: 80%;
    }

    button {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }

    #shlokaDisplay {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    input[type="text"] {
        width: 100%;
    }

    button {
        width: 100%;
        padding: 8px;
        font-size: 12px;
    }

    #shlokaDisplay {
        font-size: 14px;
    }
}
